        <TR>
          <TD class=row1 vAlign=top>
          	<SPAN class=gen><b>#message("files_attach_files"):</b></SPAN>
          </TD>
          <TD class="row2">
          	<span id="spanAttach1"><input type="file" name="fileSend-1" size="50"/><br></span>
	        <span id="spanAttach2"><input type="file" name="fileSend-2" size="50"/><br></span>
	        <span id="spanAttach3"><input type="file" name="fileSend-3" size="50"/><br></span>
	        <span id="spanAttach4"><input type="file" name="fileSend-4" size="50"/><br></span>
	        <span id="spanAttach5"><input type="file" name="fileSend-5" size="50"/><br></span>
          </TD>
 	 	</TR> 	 	