<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  />
#parse("forum/themes/${jbbConfig.forumConfig.theme}/css/css.vm")
<title>JavaBB</title>
<script src="forum/include/gen_validatorv2.js" type="text/javascript"></script>
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#006699" vlink="#5493B4">

<a name="top"></a>

#if($forum.getIdForum().toString() != "")
  <form name="frmForum" id="frmForum" action="edit_save_forum.jbb" method="post">
  <input type="hidden" name="forum.idForum" value="$forum.getIdForum()">
	<h1>#message("edit_forum")</h1>
#else
  <form name="frmForum" id="frmForum" action="insert_save_forum.jbb" method="post">
  	<h1>#message("new_forum")</h1>
#end

  <table width="100%" cellpadding="4" cellspacing="1" border="0" class="forumline" align="center">
  <tr>
    <th class="cat" colspan="2">#message("general_forum_config")</th>
  </tr>
  <tr>
    <td class="row1">#message("forum_name")</td>
    <td class="row2"><input type="text" size="25" id="forum.nome" name="forum.nome" value="$!forum.getNome()" class="post" /></td>
  </tr>
  <tr>
    <td class="row1">#message("forum_desc")</td>
    <td class="row2"><textarea rows="5" cols="45" wrap="virtual" id="forum.descricao" name="forum.descricao" class="post">$!forum.getDescricao()</textarea></td>
  </tr>

  <tr>
    <td class="row1">#message("adm.category")</td>
    <td class="row2">
  <select name="forum.category.idCategory">
  #foreach($category in $lstCategory)
  <option value="$category.getIdCategory()"
  #if($forum.getCategory().getIdCategory() == $category.getIdCategory())
  selected
  #end
  >$category.getNameCategory()</option>
  #end
  </select>
    </td>
  </tr>  


  <tr>
    <td class="cat" colspan="2" align="center">
    	<input type="submit" name="submit" value="#message("send")" class="mainoption" />
    	<input class=liteoption type=button value="#message("cancel")" onclick="history.back()" />
	</td>
  </tr>
  </table>
</form>

<br clear="all" />

<script language="JavaScript" type="text/javascript">
 var frmvalidator  = new Validator("frmForum");
 frmvalidator.addValidation("forum.nome","req","#message("field_mandatory")");
  frmvalidator.addValidation("forum.nome","minlen=3","#message("field_mandatory")");
 frmvalidator.addValidation("forum.descricao","req","#message("field_mandatory")");
  frmvalidator.addValidation("forum.descricao","minlen=3","#message("field_mandatory")");

// frmvalidator.setAddnlValidationFunction("verificaUnidadeEntrega");

</script> 


#parse("forum/themes/jb2/admin/theme_footer.vm")

</body>
</html>
