<html>
<head>
<HEAD>
<TITLE>${jbbConfig.forumConfig.forumName} :: #message("user_management")</TITLE>
#parse("forum/themes/${jbbConfig.forumConfig.theme}/css/css.vm")
</HEAD>

<form action="save_edit_profile_adm.jbb" method="post">
  <input type="hidden" name="user.idUser" value="${user.id}">
  <input type="hidden" name="user.user" value="$!{user.user}">

	#if($msgErrors.size() > 0)
		<table class="forumline" width="100%" cellspacing="1" cellpadding="4" border="0">
		  <tr>
		    <td><table width="100%" cellspacing="0" cellpadding="1" border="0">
		  <tr>
		    <td></td>
		  </tr>
		  <tr>
		    <td align="center">
		     <div class="warning">
				#foreach($msg in $msgErrors)
					<span class="error">$msg</span>			
				#end
			</div>
		    </td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		  </tr>
		  </table>
		</td>
		</tr>
		</table>
	#end

  <table border="0" cellpadding="3" cellspacing="1" width="100%" class="forumline">
    <tr> 
      <th class="thHead" colspan="2" height="25" valign="middle">#message("register_infos")</th>
    </tr>
    <tr> 
      <td class="row2" colspan="2"><span class="gensmall">#message("required_fields")</span></td>
    </tr>
    <tr> 
      <td class="row1" width="38%"><span class="gen">#message("user"): *</span></td>
      <td class="row2">
        $!{user.user}
      </td>
    </tr>
     <tr> 
     <td class="row1"><span class="gen">#message("email"): *</span></td>
     <td class="row2"><input type="text" class="post" style="width:200px" name="user.email" value="$!{user.email}" size="25" maxlength="255" /></td>
    </tr>
    <tr> 
      <td class="row1"><span class="gen">#message("new_password"): *</span><br /> <span class="gensmall">#message("obs_new_password")</span></td>
      <td class="row2"> <input type="password" class="post" style="width: 200px" name="user.passwordHash" size="25" maxlength="100" value="" /> 
      </td>
    </tr>
    <tr> 
      <td class="cat" colspan="2" height="28">&nbsp;</td>
    </tr>
    <tr> 
      <th class="thSides" colspan="2" height="25" valign="middle">#message("profile_info")</th>
    </tr>
    <tr> 
      <td class="row2" colspan="2"><span class="gensmall">#message("profile_info_visible")</span></td>
    </tr>
    <tr> 
      <td class="row1"><span class="gen">#message("complete_name"):</span></td>
      <td class="row2"> <input name="user.name" type="text" class="post" value="$!{user.name}" style="width: 200px"   size="10" maxlength="255" /> 
      </td>
    </tr>
    <tr> 
      <td class="row1"><span class="gen">#message("icq_number"):</span></td>
      <td class="row2"> <input name="user.user_icq" type="text" class="post" value="$!{user.user_icq}" style="width: 100px"   size="10" maxlength="15" /> 
      </td>
    </tr>
    <tr> 
      <td class="row1"><span class="gen">#message("aim_number"):</span></td>
      <td class="row2"> <input  name="user.user_aim" type="text" class="post" value="$!{user.user_aim}" style="width: 200px"  size="35" maxlength="255" /> 
      </td>
    </tr>
    <tr> 
      <td class="row1"><span class="gen">#message("msn_number"):</span></td>
      <td class="row2"> <input  name="user.user_msnm" type="text" class="post" value="$!{user.user_msnm}" style="width: 200px"  size="35" maxlength="255" /> 
      </td>
    </tr>
    <tr> 
      <td class="row1"><span class="gen">#message("yahoo_number"):</span></td>
      <td class="row2"> <input  name="user.user_yim" type="text" class="post" value="$!{user.user_yim}" style="width: 200px"  size="35" maxlength="255" /> 
      </td>
    </tr>
    <tr> 
      <td class="row1"><span class="gen">#message("web_site"):</span></td>
      <td class="row2"> <input type="text" class="post"style="width: 200px"  name="user.website" size="35"  maxlength="255" value="$!{user.website}" /> 
      </td>
    </tr>
    <tr> 
      <td class="row1"><span class="gen">#message("locality"):</span></td>
      <td class="row2"> <input  name="user.localizacao" value="$!{user.localizacao}" type="text" class="post" style="width: 200px" size="35" maxlength="100" /> 
      </td>
    </tr>
    <tr> 
      <td class="row1"><span class="gen">#message("occupation"):</span></td>
      <td class="row2"> <input type="text" class="post"style="width: 200px"  name="user.occupation" size="35" maxlength="100" value="$!{user.occupation}" /> 
      </td>
    </tr>
    <tr> 
      <td class="row1"><span class="gen">#message("interest"):</span></td>
      <td class="row2"> <input  name="user.user_interests" type="text" class="post" style="width: 200px" value="$!{user.user_interests}" size="35" maxlength="150" /> 
      </td>
    </tr>
    <tr> 
      <td class="row1"><span class="gen">#message("signature"):</span><br /> <span class="gensmall">
        #message("signature_obs")
        <br />
        <br />
        <a href="faq.jbb" target="_blank">BBCode</a> #message("bbcode_active")</span></td>
      <td class="row2"> <textarea name="user.userSig" cols="30"  rows="6" class="post" style="width: 300px">$!{user.userSig}</textarea> 
      </td>
    </tr>
    <tr> 
      <td class="cat" colspan="2" height="28">&nbsp;</td>
    </tr>
    <tr> 
      <th class="thSides" colspan="2" height="25" valign="middle">#message("preferences")</th>
    </tr>
    <tr> 
      <td class="row1"><span class="gen">#message("aways_show_email"):</span></td>
      <td class="row2"> 
        <input type="radio" name="user.show_mail" value="1" #if(${user.show_mail} == 1) checked="checked" #end  #if(${jbbuser.id.toString()} != "") #else checked="checked"  #end /> <span class="gen">#message("yes")</span>&nbsp;&nbsp; 
        <input type="radio" name="user.show_mail" value="0" #if(${user.show_mail} == 0) checked="checked" #end   /> <span class="gen">#message("no")</span></td>
    </tr>
    <tr> 
      <td class="row1"><span class="gen">#message("aways_attach_signature"):</span></td>
      <td class="row2"> <input type="radio" name="user.show_signature" value="1" #if(${user.show_signature} == 1) checked="checked" #end  #if(${jbbuser.id.toString()} != "") #else checked="checked"  #end  /> 
        <span class="gen">#message("yes")</span>&nbsp;&nbsp; <input type="radio" name="user.show_signature" value="0" #if(${user.show_signature} == 0) checked="checked" #end /> 
        <span class="gen">#message("no")</span>
      </td>
    </tr>
    <tr> 
      <td class="row1"><span class="gen">#message("reg_user_receive_news"):</span></td>
      <td class="row2"> 
        <input type="radio" name="user.receiveNews" value="1" #if(${user.receiveNews} == 1) checked="checked" #end  #if(${jbbuser.id.toString()} != "") #else checked="checked"  #end /> <span class="gen">#message("yes")</span>&nbsp;&nbsp; 
        <input type="radio" name="user.receiveNews" value="0" #if(${user.receiveNews} == 0) checked="checked" #end   /> <span class="gen">#message("no")</span></td>
    </tr>
    <tr>
      <td class="row1"><span class="gen">#message("avatar_url"):</span></td>
      <td class="row2">
		#if($user.user_avatar.toString() != "")
			<img src="$basePath/files/$user.user_avatar">
		#end
      </td>
    </tr>
    <tr> 
      <td class="cat" colspan="2" align="center" height="28">
        <input type="submit" value="#message("submit")" class="mainoption" /></td>
    </tr>
    
  </table>

</form>

  <br /><br /><br />
#parse("forum/themes/jb2/admin/theme_footer.vm")