<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
<META http-equiv=Content-Type content="text/html; charset=UTF-8">
#parse("forum/themes/${jbbConfig.forumConfig.theme}/css/css.vm")

<META content="MSHTML 6.00.2737.800" name=GENERATOR></HEAD>

<script language="Javascript" type="text/javascript">
  function confirmDelete(id){
  if(confirm("#message("confirm_delete")")){
  document.location.href="del_smile.jbb?smileId=" + id;
  }
  }
</script>

<BODY text=#000000 vLink=#5493b4 link=#006699 bgColor=#ffffff><A name=top></A>
<br /><br /><H1>#message("smile_list")</H1><br />
<TABLE class=forumline cellSpacing=1 cellPadding=4 width="100%" align=center 
border=0>
    <TBODY>
      <TR> 
        <TH class=cat colSpan=7>#message("smile_list")</TH>
      </TR>
      <tr>
       <th class="thTop" align="center" width="10%">
  #
       </th>
       <th class="thTop" align="center" width="10%">
          #message("smile")
       </th>
       <th class="thTop" align="center" width="10%">
          #message("smile_symbol")
       </th>
       <th class="thTop" align="center" width="10%">
          #message("smile_emoticon")
       </th>
       <th class="thTop" align="center" width="10%">
          #message("smile_filename")
       </th>
       <th class="thTop" align="center" width="25%">
        #message("edit")
       </th>
       <th class="thTop" align="center" width="25%">
        #message("delete")
       </th>
      </tr>
      
  #foreach ($s in $smiles)
        <TR> 
         <TD class=row2 vAlign=center align=middle>
          <SPAN class=genmed>
          <img src="forum/  images/smiles/$s.filename">
          </SPAN>
         </TD>
         <TD class=row2 vAlign=center align=middle>
          <SPAN class=genmed>
            $s.id
          </SPAN>
         </TD>
         <TD class=row1 vAlign=center align=middle>
          <SPAN class=genmed>
            $s.symbol
          </SPAN>
         </TD>
         <TD class=row1 vAlign=center align=middle>
          <SPAN class=genmed>
            $s.emoticon
          </SPAN>
         </TD>
         <TD class=row1 vAlign=center align=middle>
          <SPAN class=genmed>
            $s.filename
          </SPAN>
         </TD>
         <TD class=row2 vAlign=center align=middle>
            <SPAN class=genmed>
            <A href="load_smile.jbb?s=$s.id">#message("edit")</A>
            </SPAN>
         </TD>
         <TD class=row1 vAlign=center align=middle>
          <SPAN class=genmed>
            <A href="javascript:confirmDelete('$s.id');">#message("delete")</A>
          </SPAN>
         </TD>
        </TR>
  #end

      <TR> 
        <TD class=row2 colSpan=7 align="center">
          <!--INPUT class=liteoption type=button value="#message("new_smile")" onclick="document.location.href='prepare_smile.jbb'"-->
        </TD>
      </TR>
      <TR> 
        <TD class=spaceRow colSpan=7 height=1><IMG height=1 alt="" 
      src="admin_forums_files/spacer.gif" width=1></TD>
      </TR>
    </TBODY>
  </TABLE>
<br />
#parse("forum/themes/jb2/admin/theme_footer.vm")