<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
<META http-equiv=Content-Type content="text/html; charset=UTF-8">
#parse("forum/themes/${jbbConfig.forumConfig.theme}/css/css.vm")

<META content="MSHTML 6.00.2737.800" name=GENERATOR>
<meta http-equiv="refresh" content="10">	
	
	
</HEAD>

<script language="Javascript" type="text/javascript">
	function confirmDelete(id){
		if(confirm("#message("confirm_delete")")){
	  		document.location.href="DoDeleteNewsletter.jbb?newsletter.id=" + id;
		}
	}

	function previewNewsletter(newsId){
	  	window.open('previewNewsletter.jbb?newsletter.id='+newsId, '_jbb', 'HEIGHT=500,scrollbars=yes,resizable=yes,WIDTH=600');
	}
	
	function activeNews(newsId){
		if(confirm("#message("adm_newsletter_active")")){
			if(confirm("#message("adm_newsletter_active1")")){
	  			document.location.href="activeNewsletter.jbb?newsletter.id=" + newsId;
	  		}
		}
	}
  
</script>

<BODY text=#000000 vLink=#5493b4 link=#006699 bgColor=#ffffff><A name=top></A>
<br /><br /><H1>#message("adm_news_list")</H1><br />
<TABLE class=forumline cellSpacing=1 cellPadding=4 width="100%" align=center 
border=0>
    <TBODY>
      <TR> 
        <TH class=cat colSpan=7>#message("adm_news_list")</TH>
      </TR>
      <tr>
       <th class="thTop" align="center" width="10%">

       </th>
       <th class="thTop" align="center" width="40%">
        #message("subject")
       </th>
       <th class="thTop" align="center" width="20%">
        #message("adm_news_active")
       </th>
       <th class="thTop" align="center" width="60%">

       </th>
       <th class="thTop" align="center" width="25%">
        #message("edit")
       </th>
       <th class="thTop" align="center" width="25%">
        #message("delete")
       </th>
      </tr>
  #foreach ($beanNews in $newsList)
        <TR> 
         <TD class=row2 vAlign=center align=middle>
          <SPAN class=genmed>
            $beanNews.id
          </SPAN>
         </TD>
         <TD class=row1 vAlign=center align=middle>
          <SPAN class=genmed>
            $beanNews.name
          </SPAN>
         </TD>
         <TD class=row1 vAlign=center align=middle>
          <SPAN class=genmed>
            #if($newsStatus.getStatusNews($beanNews.id))
            	#message("yes") <img src="$basePath/forum/themes/jb2/images/loading.gif">
            #else 
            	<a href="javascript:activeNews('$beanNews.id');">#message("no")</a>
            #end
          </SPAN>
         </TD>
         
         <TD class=row1 vAlign=center align=middle>
          <SPAN class=genmed>
            <a href="javascript:previewNewsletter('$beanNews.id');"> <img src="$basePath/forum/themes/jb2/images/icon_watch_topic.gif" border="0">#message("adm_newsletter_preview")</a>
          </SPAN>
         </TD>

         
          <TD class=row2 vAlign=center align=middle>
            <SPAN class=genmed>
            <A href="editNewsletter.jbb?newsletter.id=$beanNews.id">#message("edit")</A>
            </SPAN>
          </TD>
          <TD class=row1 vAlign=center align=middle>
          <SPAN class=genmed>
            <A href="javascript:confirmDelete('$beanNews.id');">#message("delete")</A>
          </SPAN>
         </TD>
        </TR>
  #end

      <TR> 
        <TD class=row2 colSpan=7 align="center">
          <INPUT class=liteoption type=button value="#message("adm_news_insert")" onclick="document.location.href='insertNewsletter.jbb'">
        </TD>
      </TR>
      <TR> 
        <TD class=spaceRow colSpan=7 height=1><IMG height=1 alt="" 
      src="admin_forums_files/spacer.gif" width=1></TD>
      </TR>
    </TBODY>
  </TABLE>
<br />
#parse("forum/themes/jb2/admin/theme_footer.vm")