<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  />
#parse("forum/themes/${jbbConfig.forumConfig.theme}/css/css.vm")
<title>JB2</title>
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#006699" vlink="#5493B4">

<a name="top"></a>


<table width="100%" cellpadding="4" cellspacing="0" border="0" align="center">
  <tr>
  <td align="center" ><a href="../forum.jbb" target="_parent"><img src="../forum/images/_logo_admin.gif" border="0" /></a></td>
  </tr>
  <tr>
  <td align="center" >
    <table width="100%" cellpadding="4" cellspacing="1" border="0" class="forumline">
  <tr>
    <th height="25"><b>#message("adm_menu")</b></th>
  </tr>
  <tr>
    <td class="row1"><span class="genmed"><a href="center.jbb" target="main" class="genmed">#message("manage_forum")</a></span></td>
  </tr>
  <tr>
    <td class="row1"><span class="genmed"><a href="../forum.jbb" target="main" class="genmed">#message("preview_forum")</a></span></td>
  </tr>
  <tr>
    <td class="row1"><span class="genmed"><a href="../forum.jbb" target="_parent" class="genmed">#message("forum_index")</a></span></td>
  </tr>  
  <tr>
    <td class="row1"><span class="genmed"><a href="forum_config.jbb" target="main" class="genmed">#message("general_config")</a></span></td>
  </tr>
  <tr>
    <td class="row1"><span class="genmed"><a href="list_badwords.jbb" target="main" class="genmed">#message("badword_list")</a></span></td>
  </tr>  
  <!--tr>
    <td class="row1"><span class="genmed"><a href="list_smiles.jbb" target="main" class="genmed">#message("smile_list")</a></span></td>
  </tr-->  

  <tr>
    <td class="row1"><span class="genmed"><a href="newsletters.jbb" target="main" class="genmed">#message("adm_newsletter")</a></span></td>
  </tr>    
  
  
  <tr>
    <td height="28" class="cat" align="center"><span class="cattitle">#message("user_management")</span></td>
  </tr>

  <tr>
    <td class="row1"><span class="genmed"><a href="user_management.jbb" target="main" class="genmed">#message("manage")</a></span>
    </td>
  </tr>

    </table>
  </td>
  </tr>
</table>

<br />


#parse("forum/themes/jb2/admin/theme_footer.vm")

</body>
</html>