<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  />
#parse("forum/themes/${jbbConfig.forumConfig.theme}/css/css.vm")
<title>javaBB</title>
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#006699" vlink="#5493B4">

<a name="top"></a>


<h1>#message("remove_forum")</h1>

<p>#message("remove_forum_desc")</p>

<form action="delete_forum.jbb" method="post" name="frmForuns" id="frmForuns">
  <input type="hidden" name="forum.idForum" value="$forum.getIdForum()"> 
  <table cellpadding="4" cellspacing="1" border="0" class="forumline" align="center">
  <tr>
    <th colspan="2" class="cat">#message("remove_forum")</th>
    </tr>
  <tr>
    <td class="row1">#message("forum_name")</td>
    <td class="row1"><span class="row1">$forum.getNome()</span></td>
  </tr>
  <tr>
    <td class="row1">#message("move_all_posts")</td>
    <td class="row1">
  <select name="removeForum" id="removeForum">
      <option value="-1">#message("delete_all_posts")</option>
  </select>
  </td>
  </tr>

  <tr>
    <td class="cat" colspan="2" align="center">
    <input type="submit" name="submit" value="#message("move_and_del")" class="mainoption" />
    <input class=liteoption type=button value="#message("cancel")" onclick="history.back()" />
    </td>
  </tr>
  </table>
</form>


#parse("forum/themes/jb2/admin/theme_footer.vm")

<IFRAME name="ifrCover" id="ifrCover" SRC="" WIDTH="0" HEIGHT="0" FRAMEBORDER="0" MARGINWIDTH="0" MARGINHEIGHT="0"></IFRAME>

<script>
  ifrCover.document.location.href="prepare_delete_forum_lista_foruns.jbb?forum.idForum=$forum.getIdForum()";
</script>

</body>

</html>
