<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
<META http-equiv=Content-Type content="text/html; charset=UTF-8">
#parse("forum/themes/${jbbConfig.forumConfig.theme}/css/css.vm")

<META content="MSHTML 6.00.2737.800" name=GENERATOR></HEAD>

<script type="text/javascript" language=JavaScript>
	function deleteCat(idCat){
		if(confirm("#message("confirm_delete")")){
			document.location.href="delete_category.jbb?category.idCategory="+idCat;
		}
	}
	
	function toDown(position, idCategory){
		position--;
		toOrder = position + 1;
		document.location.href="sort_forum.jbb?destOrder=" + toOrder + "&position="+position+"&c="+idCategory;
	}

	function toUp(position, idCategory){
		position--;
		toOrder = position - 1;
		document.location.href="sort_forum.jbb?destOrder=" + toOrder + "&position="+position+"&c="+idCategory;
	}
	
</script>

<BODY text=#000000 vLink=#5493b4 link=#006699 bgColor=#ffffff><A name=top></A>
<H1>#message("forum_management")</H1>

  <TABLE class=forumline cellSpacing=1 cellPadding=4 width="100%" align=center 
border=0>
    <TBODY>
      <TR> 
        <TH class=cat colSpan=7>#message("forum_management")</TH>
      </TR>
      
	#foreach($category in $lstCategory)
	<tr>
		<td class="cat" colspan="2" height="28"><span class="cat">$category.getNameCategory()</span></td>
		<td class="rowpic" colspan="3" align="right">
		<A href="show_update_category.jbb?category.idCategory=$category.idCategory">#message("edit")</A>
		 #if($category.getForuns().size() == 0)
		 - 
		 <A href="javascript:deleteCat('$category.idCategory');">#message("delete")</A>
		 #end
		</td>
	</tr>

	  #foreach ($forum in $category.getForuns())      
	        <TR> 
	         <TD class=row2>
	          <SPAN class=genmed>
	            <A href="viewforum.jbb?forum.idForum=$forum.getIdForum()" target=_new>$forum.getNome()</A>
	          </SPAN><BR> 
	          <SPAN class=genmed>
	            $forum.getDescricao()
	          </SPAN>
	         </TD>
	          <TD class=row1 vAlign=center align=middle>
	            <SPAN class=genmed>
	            <A href="edit_forum.jbb?forum.idForum=$forum.getIdForum()">#message("edit")</A>
	            </SPAN>
	          </TD>
	          <TD class=row2 vAlign=center align=middle>
	          <SPAN class=genmed>
	            <A href="prepare_delete_forum.jbb?forum.idForum=$forum.getIdForum()">#message("delete")</A>
	          </SPAN>
	         </TD>
	         <TD class=row1 vAlign=center align=middle>
	         	#if($velocityCount > 1)
	         		<A href="javascript:toUp($velocityCount, $category.idCategory);"><img src="../forum/themes/jb2/images/up.gif" border="0" alt="#message("move_up")"></A>
	         	#end
	         	&nbsp;
	         	#if($velocityCount < $category.getForuns().size())
		         	<A href="javascript:toDown($velocityCount, $category.idCategory);"><img src="../forum/themes/jb2/images/down.gif" border="0" alt="#message("move_down")"></A>
	         	#end
	         	</TD>
	        </TR>
	  #end
  #end

      <TR> 
        <TD class=row2 colSpan=7 align="center">
          <INPUT class=liteoption type=button value="#message("new_forum")" onclick="document.location.href='insert_forum.jbb'">
          <INPUT class=liteoption type=button value="#message("adm.category.new")" onclick="document.location.href='show_insert_category.jbb'">
        </TD>
      </TR>
      <TR> 
        <TD class=spaceRow colSpan=7 height=1><IMG height=1 alt="" 
      src="../admin_forums_files/spacer.gif" width=1></TD>
      </TR>
    </TBODY>
  </TABLE>

#parse("forum/themes/jb2/admin/theme_footer.vm")

</BODY></HTML>
