#parse("/forum/include/imports.vm")

<script src="$basePath/forum/include/forum.js" type="text/javascript"></script>
<script src='$basePath/dwr/interface/RemoteFunctions.js'></script>
<script src='$basePath/dwr/engine.js'></script>

<script class="javascript" src="$basePath/forum/include/shCore.js"></script>
<script class="javascript" src="$basePath/forum/include/shBrushJava.js"></script>


#parse("forum/themes/${jbbConfig.forumConfig.theme}/css/css.vm")

#parse("forum/include/meta.vm")

#bean("org.javabb.infra.PMHelper" $mpHelper)

</HEAD>


<BODY bgColor=#ebecec leftMargin=0 topMargin=0 marginheight="0"
marginwidth="0">
<A name=top></A>
<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
  <TBODY>
  <TR>
    <TD vAlign=top background="$basePath/forum/themes/jb2/images/_header.gif" height=101>
    <A href="/"><IMG src="$basePath/forum/themes/jb2/images/_logo.gif" border=0></A>
    </TD>
    <TD vAlign=center align=middle width="100%" background="$basePath/forum/themes/jb2/images/_header.gif">
       <div align="center"><iframe name="IFrameName" width=480 height=70 frameborder=no scrolling=no src="http://www.javafree.org/banners/sortBanner.jf"></iframe></div>
    </TD>
  </TR>
  <TR align=middle>
    <TD background="$basePath/forum/themes/jb2/images/_nav.gif" colSpan=2 height=31>
    <div align="center">

    <IMG height=31 hspace=10 src="$basePath/forum/themes/jb2/images/_bullet.gif" width=19 align=absMiddle>
    <A class=nav href="forum.jbb">#message("index_forum")</A>

    <!--IMG height=31 hspace=10 src="$basePath/forum/themes/jb2/images/_bullet.gif" width=19 align=absMiddle>
    <A class=nav href="faq.jbb">#message("faq")</A-->

    <IMG height=31 hspace=10 src="$basePath/forum/themes/jb2/images/_bullet.gif" width=19 align=absMiddle>
    <A class=nav href="member_list.jbb">#message("member_list")</A>

    <IMG height=31 hspace=10 src="$basePath/forum/themes/jb2/images/_bullet.gif" width=19 align=absMiddle>
    <A class=nav href="search.jbb">#message("search")</A>

    #if($jbbuser.getIdUser().toString() != "")
      <IMG height=31 hspace=10 src="$basePath/forum/themes/jb2/images/_bullet.gif" width=19 align=absMiddle>
      <A class=nav href="show_edit_profile.jbb">#message("profile")</A>
    #end


    <!--IMG hspace=10 src="$basePath/forum/themes/jb2/images/star.gif"align=absMiddle><A class=nav href="favorite.jbb">#message("forum_fav_favorites")</A-->
    
    <IMG height=31 hspace=10 src="$basePath/forum/themes/jb2/images/_bullet.gif" width=19 align=absMiddle>    
    <A class=nav href="inbox.jbb">#message("pmTitle")
     #if($jbbuser.getIdUser().toString() != "")
	     (${mpHelper.countMessages})
	 #end
     </A>
        
    <IMG height=31 hspace=10 src="$basePath/forum/themes/jb2/images/_bullet.gif" width=19 align=absMiddle>
    #if($jbbuser.getIdUser().toString() != "")
      <A class=nav href="logout.jbb">#message("logout") ($jbbuser.getUser())</A>
    #else
      <A class=nav href="login.jbb">#message("login")</A>
      <IMG height=31 hspace=10 src="$basePath/forum/themes/jb2/images/_bullet.gif" width=19 align=absMiddle>
      <A class=nav href="new_member.jbb">#message("register")</A>
    #end
    
    &nbsp;&nbsp;&nbsp;
    <IMG src="forum/themes/jb2/images/icon_watch_topic.gif" width=19 align=absMiddle>
    <A class=nav href="spy.jbb">#message("spy")</A>

    </TD>
  </TR>

