
#if("$!jbbuser.getIdUser().toString()" == "")
			<script type="text/javascript">
			setTimeout("window.location.reload();",500000);
		</script>
#end

  <TR>
    <TD background="$basePath/forum/themes/jb2/images/_fadebot.gif" colSpan=2 height=16>&nbsp;</TD>
  </TR>
  <TR>
    <TD background="$basePath/forum/themes/jb2/images/_c_bg.gif" height=30>
		<div id="footer2">
			#parse("forum/include/copyright.vm")
		</div>
		
	</TD>
    <TD vAlign=center align=right  background="$basePath/forum/themes/jb2/images/_c_bg.gif">
	<a href="http://whos.amung.us/stats/44l90veu934o/" rel="noflow" target="_blank"><img src="http://whos.amung.us/swidget/44l90veu934o.png"  border="0" /></a>	
	</TD>
  </TR>
</TABLE>
</BODY>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-634369-10");
pageTracker._trackPageview();
} catch(err) {}</script>
</HTML>