##Menu Staff
$action.setSessionAttribute("menu", "customSearch")
<html>
<head>
<title>$jbbConfig.getForumConfig().getForumName() :: #message("search")</title>
</head>

<body bgcolor="#E5E5E5" text="#000000" link="#006699" vlink="#5493B4">

#parse("forum/themes/jb2/header.vm")


 <TR>
    <TD background="forum/themes/jb2/images/_fadetop.gif" colSpan=2 height=12></TD>
 </TR>
  <TR align=middle bgColor=#ffffff>
    <TD class=mainbody colSpan=2>
      <TABLE cellSpacing=0 cellPadding=2 width="100%" align=center border=0>
          <TBODY>
            <TR>
              <TD align=left vAlign=bottom><SPAN class=gensmall><BR>
                </SPAN><SPAN class=nav>
                <A class=nav href="forum.jbb">${jbbConfig.forumConfig.forumName} - #message("index_forum")</A></SPAN></TD>
            </TR>
          </TBODY>
      </TABLE>

	


<div id="cse-search-results"></div>
<script type="text/javascript">
  var googleSearchIframeName = "cse-search-results";
  var googleSearchFormName = "cse-search-box";
  var googleSearchFrameWidth = 800;
  var googleSearchDomain = "www.google.com.br";
  var googleSearchPath = "/cse";
</script>
<script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>





	


#parse("forum/themes/jb2/footer.vm")
