##Menu Staff
$action.setSessionAttribute("menu", "member_list")
<html>
<head>
<title>$jbbConfig.getForumConfig().getForumName() :: #message("member_list")</title>
</head>

<body bgcolor="#E5E5E5" text="#000000" link="#006699" vlink="#5493B4">

#parse("forum/themes/jb2/header.vm")
 <TR>
    <TD background="forum/themes/jb2/images/_fadetop.gif" colSpan=2 height=12></TD>
 </TR>
  <TR align=middle bgColor=#ffffff>
    <TD class=mainbody colSpan=2>
      <TABLE cellSpacing=0 cellPadding=2 width="100%" align=center border=0>
          <TBODY>
         <TR> 
              <TD align=left vAlign=bottom><SPAN class=gensmall><BR>
                </SPAN>
                <SPAN class=nav>
  <A class=nav href="forum.jbb">$jbbConfig.getForumConfig().getForumName() - #message("index_forum")</A></SPAN></TD>
                </SPAN>
                </TD>
                <td align="right" valign="bottom" class="gensmall">
  <p align="right">
  <b>
  <form name="mem_lst" action="member_list.jbb" method="post">
      #message("sort_by")
          <select name="sortBy">
            <option value="idUser" #if($sortBy == "idUser") selected #end>#message("user_id")</option>
            <option value="user" #if($sortBy == "user") selected #end>#message("user")</option>
            <option value="name" #if($sortBy == "name") selected #end>#message("name")</option>
            <option value="localizacao" #if($sortBy == "localizacao") selected #end>#message("location")</option>
            <option value="dataRegistro" #if($sortBy == "dataRegistro") selected #end>#message("registered_in")</option>
            <option value="user_posts" #if($sortBy == "user_posts") selected #end>#message("messages")</option>                        
          </select>
          
          <select name="sortOrder">
            <option value="asc" #if($sortOrder == "asc") selected #end>#message("sort_order_asc")</option>
            <option value="desc" #if($sortOrder == "desc") selected #end>#message("sort_order_desc")</option>
          </select>
          
          <input class="liteoption" type="submit" value="#message("sort")"/>  
          </form>    
  </b>
  </p>                  
                </td>
            </TR>              
            
          </TBODY>
      </TABLE>

<a name="top"></a>
<table width="100%" cellpadding="3" cellspacing="1" border="0" class="forumline">
    <tr>
    <th height="25" class="thTop" nowrap="nowrap" width="5%">#</th>
    <th class="thTop" nowrap="nowrap" width="20%">#message("user")</th>
    <th class="thTop" nowrap="nowrap" width="15%">#message("name")</th>
    <th class="thTop" nowrap="nowrap" width="15%">#message("locality")</th>
    <th class="thTop" nowrap="nowrap" width="15%">#message("registered_in")</th>
    <th class="thTop" nowrap="nowrap" width="5%">#message("messages")</th>
    <th class="thTop" nowrap="nowrap" width="20%">#message("contact")</th>
  </tr>
  
   #set($row = "row2")
   #foreach ($user in $lstUsersPortal)
  
  #if ($row == "row1")
    #set ($row = "row2")
  #else
    #set ($row = "row1")
  #end
  
  <tr>
    <td class="$row" align="center" width="5%"><span class="gen">$user.idUser</span></td>
    <td class="$row" align="center" width="20%"><span class="gen"><a href="viewprofile.jbb?u=$user.idUser" class="gen">$user.user</a></span></td>
    <td class="$row" align="center" width="15%" valign="middle">$!user.name</td>
    <td class="$row" align="center" width="15%" valign="middle"><span class="gen">$!user.localizacao</span></td>
    <td class="$row" align="center" width="15%" valign="middle"><span class="gensmall">$vh.dateMinuteFormat($!user.dataRegistro)</span></td>
    <td class="$row" align="center" width="5%" valign="middle"><span class="gen">$!user.user_posts</span></td>
    <td class="$row" width="20%" align="center"><span class="gen">
      <a href="#if(${user.show_mail} == 1)mailto:$user.email#else javascript:alert('#message("hidden_mail")'); #end"><img src="forum/images/buttons/$jbbConfig.forumConfig.buttonLang/icon_email.gif" #if(${user.show_mail} == 1)alt="$user.email" #else alt="#message("hidden_mail")" #end border="0"></a>
     	&nbsp;&nbsp;<a href="viewprofile.jbb?u=$user.idUser"><img src="forum/images/buttons/$jbbConfig.forumConfig.buttonLang/icon_profile.gif" alt="#message("profile")" border="0"></a>
    </span></td>
  </tr>
   #end
  </table>
  <table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
  <tr>
    <td align="right" valign="bottom" nowrap="nowrap">
    
    <span class="gensmall">
    <b>
    #if($sortBy != "")
      #paging($page "member_list.jbb" "sortBy=$sortBy&sortOrder=$sortOrder")
    #else
      #paging($page "member_list.jbb" "list")
    #end
  </b>
  </span>
  
  </td>
  </tr>
  </table>  
#parse("forum/themes/jb2/footer.vm")
