#set ($actionErrors = $stack.findValue("actionErrors"))

<html>
<head>
<HTML dir=ltr><HEAD><TITLE>$jbbConfig.getForumConfig().getForumName() :: #message("redir")</TITLE>

#parse("forum/themes/jb2/header.vm")
 <TR>
    <TD background="forum/themes/jb2/images/_fadetop.gif" colSpan=2 height=12></TD>
 </TR>
  <TR align=middle bgColor=#ffffff>
    <TD class=mainbody colSpan=2>
      <TABLE cellSpacing=0 cellPadding=2 width="100%" align=center border=0>
          <TBODY>
            <TR> 
              <TD align=left vAlign=bottom><SPAN class=gensmall><BR>
                </SPAN><SPAN class=nav>
                <A class=nav href="forum.jbb">$jbbConfig.getForumConfig().getForumName() - #message("index_forum")</A></SPAN></TD>
            </TR>
          </TBODY>
      </TABLE>

<table class="forumline" width="100%" cellspacing="1" cellpadding="4" border="0">
  <tr>
  <th class="thHead" height="25"><b>#message("error")</b></th>
  </tr>
  <tr>
  <td class="row1"><table width="100%" cellspacing="0" cellpadding="1" border="0">
  <tr>
  <td>&nbsp;</td>
  </tr>
  <tr>
  <td align="center">
  <span class="gen">   <br />
        <ul>
            <li>#message("flood_control")</span></li>
        </ul>
	<a href="javascript:history.back();">#message("go_back")</a> <br \>
  </td>
  </tr>
  <tr>
  <td>&nbsp;</td>
  </tr>
  </table></td>
  </tr>
</table>
#parse("forum/themes/jb2/footer.vm")