#parse("forum/themes/${jbbConfig.forumConfig.theme}/css/css.vm")
<TABLE cellSpacing=0 cellPadding=5 width=100 border=0>
  <TBODY>
    <tr align=middle>
      <td class=gensmall colSpan=4><B>#message("emoticons")</B></TD>
    </tr>             
    <tr align="center" valign="middle">    
    #set($i = 1)
    #foreach($s in $smiles)
        #if($i == 5)
            </tr>
           <tr align="center" valign="middle">
           #set($i = 1) 
        #end
        
        <td><a href="javascript:parent.emoticon('$s.symbol')"><img src="$basePath/forum/images/smiles/$s.filename" border="0" alt="Arrow" title="Arrow" /></a></td>
        #set($i = $i + 1)        	
    #end
    </tr>
    
  </TBODY>
</TABLE>
