<TABLE cellSpacing=0 cellPadding=5 width=100 border=0>
  <TBODY>
    <tr align=middle>
      <td class=gensmall colSpan=4><B>#message("emoticons")</B></TD>
    </tr>             
    <TR vAlign=center align=middle>                      
      <td><a href="javascript:emoticon(':D')"><img src="$basePath/forum/images/smiles/icon_biggrin.gif" border="0" alt="Very Happy" title="Very Happy" /></a></td>
      <td><a href="javascript:emoticon(':)')"><img src="$basePath/forum/images/smiles/icon_smile.gif" border="0" alt="Smile" title="Smile" /></a></td>
      <td><a href="javascript:emoticon(':(')"><img src="$basePath/forum/images/smiles/icon_sad.gif" border="0" alt="Sad" title="Sad" /></a></td>
      <td><a href="javascript:emoticon(':o')"><img src="$basePath/forum/images/smiles/icon_surprised.gif" border="0" alt="Surprised" title="Surprised" /></a></td>
    </tr>
    <tr align="center" valign="middle">
      <td><a href="javascript:emoticon(':shock:')"><img src="$basePath/forum/images/smiles/icon_eek.gif" border="0" alt="Shocked" title="Shocked" /></a></td>
      <td><a href="javascript:emoticon(':?')"><img src="$basePath/forum/images/smiles/icon_confused.gif" border="0" alt="Confused" title="Confused" /></a></td>
      <td><a href="javascript:emoticon('8)')"><img src="$basePath/forum/images/smiles/icon_cool.gif" border="0" alt="Cool" title="Cool" /></a></td>
      <td><a href="javascript:emoticon(':lol:')"><img src="$basePath/forum/images/smiles/icon_lol.gif" border="0" alt="Laughing" title="Laughing" /></a></td>
    </tr>
    <tr align="center" valign="middle">
      <td><a href="javascript:emoticon(':x')"><img src="$basePath/forum/images/smiles/icon_mad.gif" border="0" alt="Mad" title="Mad" /></a></td>
      <td><a href="javascript:emoticon(':P')"><img src="$basePath/forum/images/smiles/icon_razz.gif" border="0" alt="Razz" title="Razz" /></a></td>
      <td><a href="javascript:emoticon(':00ps:')"><img src="$basePath/forum/images/smiles/icon_redface.gif" border="0" alt="Embarassed" title="Embarassed" /></a></td>
      <td><a href="javascript:emoticon(':cry:')"><img src="$basePath/forum/images/smiles/icon_cry.gif" border="0" alt="Crying or Very sad" title="Crying or Very sad" /></a></td>
    </tr>
    <tr align="center" valign="middle">
      <td><a href="javascript:emoticon(':evil:')"><img src="$basePath/forum/images/smiles/icon_evil.gif" border="0" alt="Evil or Very Mad" title="Evil or Very Mad" /></a></td>
      <td><a href="javascript:emoticon(':twisted:')"><img src="$basePath/forum/images/smiles/icon_twisted.gif" border="0" alt="Twisted Evil" title="Twisted Evil" /></a></td>
      <td><a href="javascript:emoticon(':roll:')"><img src="$basePath/forum/images/smiles/icon_rolleyes.gif" border="0" alt="Rolling Eyes" title="Rolling Eyes" /></a></td>
      <td><a href="javascript:emoticon(':wink:')"><img src="$basePath/forum/images/smiles/icon_wink.gif" border="0" alt="Wink" title="Wink" /></a></td>
    </tr>
    <tr align="center" valign="middle">
      <td><a href="javascript:emoticon(':!:')"><img src="$basePath/forum/images/smiles/icon_exclaim.gif" border="0" alt="Exclamation" title="Exclamation" /></a></td>
      <td><a href="javascript:emoticon(':?:')"><img src="$basePath/forum/images/smiles/icon_question.gif" border="0" alt="Question" title="Question" /></a></td>
      <td><a href="javascript:emoticon(':idea:')"><img src="$basePath/forum/images/smiles/icon_idea.gif" border="0" alt="Idea" title="Idea" /></a></td>
      <td><a href="javascript:emoticon(':arrow:')"><img src="$basePath/forum/images/smiles/icon_arrow.gif" border="0" alt="Arrow" title="Arrow" /></a></td>
    </tr>
    <TR align="center">
      <TD colSpan="4">
        <span class="nav">
          <a href="#">#message("more_emoticons")</a>
        </span>
      </TD>
    </TR>
  </TBODY>
</TABLE>
