#parse("forum/include/imports.vm")
<html>
<head>
<HTML dir=ltr><HEAD>
#parse("forum/themes/${jbbConfig.forumConfig.theme}/css/css.vm")
<script src="forum/include/forum.js" type="text/javascript"></script>

  <a name="top">
      <TABLE class=forumline cellSpacing=1 cellPadding=3 width="100%" border=0>
      <TBODY>
        <TR>
          <TH class=titleGenmed noWrap width=150 height=26>#message("author")</TH>
          <TH class=titleGenmed noWrap>#message("message")</TH></TR>
  #set($row = "row1")
  
  #foreach ($post in $reversePosts)
  #if($row == "row2")
  	#set($row = "row1")
  #else
  	#set($row = "row2")
  #end          
          
          <TR>
            <TD class=$row vAlign=top align=left width=150>
            <SPAN class=name>
            <a name="$post.id">
            <A name=46400></A><B>$post.user.user</B></SPAN><BR>
            <SPAN class=postdetails><BR>
            #message("registered_in"): $vh.dateMinuteFormat(${post.user.dataRegistro})<BR>
            #message("messages"): $post.user.user_posts<BR>
            </SPAN><BR>
            </TD>
            <TD class=$row vAlign=top width="100%" height=28>
              <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                <TBODY>
                <TR>
                  <TD width="100%">
  <SPAN class=postdetails>
  <a href="viewtopic.jbb?post.topic.idTopic=$topic.id&topic.idTopic=$topic.id#$post.id">
  <img src="forum/themes/jb2/images/icon_minipost.gif" border="0">
  </a>
  #message("posted"): $vh.dateMinuteFormat(${post.postDate})
  </SPAN>
  &nbsp; &nbsp;#message("subject"): $post.subject
  </TD>
    </TR>
                <TR>
                  
                  <TD colSpan=2><HR><br />
                     <SPAN class=postbody>
      $action.formatPost($post)
    </span>
                    
                  </TD></TR>
                <TR>
                  <TD colSpan=2>
  </TD>
  </TR>
  </TBODY>            
  </TABLE>
  #end
        </TBODY>
       </TABLE>

</html>
