<html>
<head>
<title>${jbbConfig.forumConfig.forumName}</title>
#parse("forum/themes/${jbbConfig.forumConfig.theme}/css/css.vm")
<script src="forum/include/forum.js" type="text/javascript"></script>
</HEAD>

<body bgcolor="#E5E5E5" text="#000000" link="#006699" vlink="#5493B4">

#parse("forum/include/user_rank_legend.vm")


#parse("forum/themes/jb2/admin/theme_footer.vm")