#bean("org.javabb.infra.VelocityHelper" $vh)
##parse("/forum/include/misc.vm")
<div class="spy-stream">
	<br><br>

	<a href="$basePath/topic-$!{spyVH.topicId}-$vh.parseStringTitle($spyVH.topicTitle)" class="spy-leituras">$vh.dateFormat($spyVH.topicDate)</a>
	<a href="$basePath/topic-$!{spyVH.topicId}-$vh.parseStringTitle($spyVH.topicTitle)" class="spy-titulo"><strong>$spyVH.topicTitle</strong></a>
	- 
	[ <a href="$basePath/f-$!{spyVH.forumId}-$vh.parseStringTitle($spyVH.forumName)" class="spy-titulo">$spyVH.forumName</a> ]
	
	#if($jbbuser.getAdmin().toString() == "1")
	<br>
	
		<a href="$!spyVH.url" target="_blank" class="spy-titulo">[User: $spyVH.userName ] $!spyVH.url</a>
	#end
</div>

f-1-Java-Basico.html