<html>
<head>
 <TITLE>${jbbConfig.forumConfig.forumName} :: #message("all_posts_from_author")</TITLE>
</head>

#parse("forum/themes/jb2/header.vm")
 <TR>
    <TD background="forum/themes/jb2/images/_fadetop.gif" colSpan=2 height=12></TD>
 </TR>
  <TR align=middle bgColor=#ffffff>
    <TD class=mainbody colSpan=2>
      <TABLE cellSpacing=0 cellPadding=2 width="100%" align=center border=0>
          <TBODY>
            <TR> 
              <TD align=left vAlign=bottom><SPAN class=gensmall><BR>
				<SPAN class=nav>
                	<A class=nav href="forum.jbb">${jbbConfig.forumConfig.forumName} - #message("index_forum")</A>
                </SPAN>
               </TD>
               <td align="right" valign="bottom" class="gensmall">
				  <p align="right">
				  <b>
				  	#if($posts.size() > 0)
					    #paging(${page} "search_author.jbb" "u=$userId")
					#end
				  </b>
				  </p>                  
                </td>
            </TR>
          </TBODY>
      </TABLE>


#if($posts.size() > 0)
	<table border="0" cellpadding="3" cellspacing="1 width="100%" class="forumline" align="center">
	  <tr>
	  <th width="150" height="25" class="thCornerL" nowrap="nowrap">#message("author")</th>
	  <th width="100%" class="thCornerR" nowrap="nowrap">#message("message")</th>
	  </tr>
	
	  #foreach ($post in $posts)
		  <tr>
		  <td class="row2" colspan="2" height="28"><span class="topictitle"><img src="forum/themes/jb2/images/folder.gif" align="absmiddle">&nbsp;&nbsp;#message("Topic"): <a href="viewtopic.jbb?t=${post.topic.id}" class="topictitle">${post.topic.titleTopic}</a></span></td>
		  </tr>
		  <tr>
		  <td width="150" align="left" valign="top" class="row1" rowspan="2"><span class="name"><b><a href="viewprofile.jbb?u=$post.user.id">$post.user.user</a></b></span><br />
		    <br />
		    <span class="postdetails">#message("answers"): <b>${post.topic.respostas}</b><br>
		    #message("displays"): <b>${post.topic.visualizacoes}</b></span><br />
		  </td>
		  <td width="100%" valign="top" class="row1"><img src="forum/themes/jb2/images/icon_minipost.gif" width="12" height="9" alt="#message("message")" title="#message("message")" border="0" /><span class="postdetails">#message("forum"): <b><a href="viewforum.jbb?f=${post.topic.forum.id}" class="postdetails">$post.topic.forum.nome</a></b>&nbsp; &nbsp;#message("posted"): $vh.dateMinuteFormat(${post.postDate}) &nbsp; &nbsp;#message("subject"): <b><a href="viewtopic.jbb?t=${post.topic.id}#${post.id}">${post.topic.titleTopic}</a></b></span></td>
		  </tr>
		  <tr>
		  <td valign="top" class="row1"><span class="postbody">${post.postBody}</span></td>
		  </tr>
	  #end
	  		
	</table>
#else
	#parse("forum/themes/jb2/no_messages.vm")
#end

<table width="100%" cellspacing="2" border="0" align="center" cellpadding="2">
  <tr>
  <td align="left" valign="top"></td>

  <td align="right" valign="top" nowrap="nowrap"><span class="nav"></span><br />
  	<b>
	  	#if($posts.size() > 0)
		    #paging(${page} "search_author.jbb" "u=$userId")
		#end
  	</b>
  </td>
  </tr>
</table>  


#parse("forum/themes/jb2/footer.vm")