<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Frameset//EN">
<HTML>
<HEAD>
<TITLE>javaBB Administration</TITLE>
  <META http-equiv=Content-Type content="text/html; charset=utf-8">
  <META content="MSHTML 6.00.2737.800" name=GENERATOR>
</HEAD>
  <FRAMESET border=2 frameSpacing=0 rows=* frameBorder=yes cols=170,*>
  <FRAME name=nav marginWidth=3 marginHeight=3 src="menu.jbb">
  <FRAME name=main marginWidth=10 marginHeight=10 src="center.jbb">
  </FRAMESET>
</HTML>