	<meta name="description" content="javafree, jdk, o que é java, java free, apostila netbeans, eclipse, tutorial java, aplicativos para celular, postgresql, mysql, ireport, comandos java, java para iniciantes, dao, java swing, livro java, java heap space, o que é java, split java, ejb, java, jframe, uml, exercicios java, programar java para celular, enum java, java tutorial, spring, arquivos jar, jar" />
	<meta name="keywords" content="javafree, jdk, o que é java, java free, apostila netbeans, eclipse, tutorial java, aplicativos para celular, postgresql, mysql, ireport, comandos java, java para iniciantes, dao, java swing, livro java, java heap space, o que é java, split java, ejb, java, jframe, uml, exercicios java, programar java para celular, enum java, java tutorial, spring, arquivos jar, jar" />
	<link rel="shortcut icon" href="$basePath/home/images/mini.gif" type="image/x-icon" />
	<link rel="alternate" type="application/rss+xml" title="JF News" href="http://feeds2.feedburner.com/JavaFreeorg" />		
