
   <div class="legend-box">
    <table cellpadding="4" cellspacing="0" border="0" width="100%" align="top" class=forumline>

    <thead>
        <tr>
            <th colspan="2">
                #message("legend")
            </th>
        </tr>
    </thead>

        <tbody>

      				  

            #foreach($userRank in ${userRanks})
                <tr>
                    <td width="1%">
                        <img src="forum/images/${userRank.rankImage}" border="0" title="${userRank.rankName}" alt="" />
                    </td>
                    <td width="99%">
                      ${userRank.rankMin} - ${userRank.rankMax}
                    </td>
                </tr>
		            #end 
    </tbody>

    </tbody>
    </table>
    </div>