<script>
$(document).ready(function(){
var newsoption1 = {
  firstname: "mynews",
  secondname: "showhere",
  thirdname:"news_display",
  fourthname:"news_button",
  newsspeed:'8000'
}
$.init_news(newsoption1);


var myoffset=$('#news_button').offset();

var mytop=myoffset.top-1;

$('#news_button').css({top:mytop});

});
</script>

<style>

.news_style{
	width:250px;
	display:none;
}
.news_show{
	background-color: white;
	color:black;
	width:600px;
	height:190px;
	font: normal 100% "Arial", "Lucida Grande",Verdana,  Sans-Serif;
	overflow: auto;	
	
}
.news_border{
	background-color: white;
	width:650px;
	height:210px;
	font: normal 100% "Arial", "Lucida Grande",Verdana,  Sans-Serif;
	border: 1px solid gray;
	padding: 5px 5px 5px 5px;
	overflow: auto;	
}
.news_mark{
	background-color:white ;
	font: normal 70% "Arial", "Lucida Grande",Verdana,  Sans-Serif;
	border: 0px solid gray;
	width:361px;
	height:35px;
	color:black;
	text-align:center;
}
.news_title{
	font: bold 120% "Arial", "Lucida Grande",Verdana,  Sans-Serif;
	border: 0px solid gray;
	padding: 5px 0px 9px 5px;
	color:black;
}
.news_show img{
	margin-left: 5px;
	margin-right: 5px;
}
.buttondiv{
	position: absolute;
	/*float: left;*/
	/*top: 169px;*/
	padding: 5px 5px 5px 5px;
	background-color:white ;
	border: 1px solid gray;
	/*border-top-color: white;*/
	border-top:none;
	height:20px;
}

</style>