#*
<script type="text/javascript">
<!--
descrColor="000000";titleColor="990000";urlColor="008000";borderColor="FF9900";bgColor="FFFFFF";altColor="FFFFFF";category="3,2,8,1";coddisplaysupplier="6e94c80f4c08408f979b865499fcd18e";formatId="18";has_search="0";numads="3";type="2";
-->
</script>
<div id="af-shopping-uol"><a href="http://shopping.uol.com.br"><span style="text-decoration:none;">An&uacute;ncios Shopping UOL</span></a></div><script type="text/javascript" src="http://adrequisitor-af.shopping.uol.com.br/uolaf.js"></script>
*#
<script type="text/javascript">
<!--
descrColor="000000";titleColor="0000FF";urlColor="008000";borderColor="000000";bgColor="F0F0F0";altColor="F0F0F0";coddisplaysupplier="6e94c80f4c08408f979b865499fcd18e";formatId="10";deslabel="468javafree";numads="3";type="1";
-->
</script>
<script type="text/javascript" src="http://adrequisitor-af.lp.uol.com.br/uolaf.js"></script>