<script type="text/javascript">
<!--
descrColor="000000";titleColor="990000";urlColor="008000";borderColor="FF9900";bgColor="FFFFFF";altColor="FFFFFF";category="2,8,1";coddisplaysupplier="6e94c80f4c08408f979b865499fcd18e";formatId="21";has_search="0";numads="2";type="2";
-->
</script>
<div id="af-shopping-uol"><a href="http://shopping.uol.com.br"><span style="text-decoration:none;">An&uacute;ncios Shopping UOL</span></a></div><script type="text/javascript" src="http://adrequisitor-af.shopping.uol.com.br/uolaf.js"></script>
