<p>$!messageBody<br>
  <br>
  $!topic: $topicName<br>
  <a href="${conf.domain}viewtopic.jbb?t=$topicId">${conf.domain}viewtopic.jbb?t=$topicId</a> <br>
  <br>
  <br>
  $forumFrom: <a href="${conf.domain}viewforum.jbb?f=${forumFromId}">$forumFromName</a><br>
  <a href="${conf.domain}viewforum.jbb?f=${forumFromId}">${conf.domain}viewforum.jbb?f=${forumFromId}</a></p>

<p>$forumTo: <a href="${conf.domain}viewforum.jbb?f=${forumToId}">$forumToName</a><br>
  <a href="${conf.domain}viewforum.jbb?f=${forumToId}">${conf.domain}viewforum.jbb?f=${forumToId}</a><br>
  <br>
  <br>
  <font size="2">${conf.forumName}<br>
  <a href="mailto:${conf.adminMail}">${conf.adminMail}</a></font></p>
<p>&nbsp; </p>