		<div id="ad">
			<script type="text/javascript"><!--
			google_ad_client = "pub-9439984557405450";
			/* 200x200, criado 03/11/08 */
			google_ad_slot = "3473586953";
			google_ad_width = 200;
			google_ad_height = 200;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>#*
			<center>
			<script language="JavaScript1.1" type="text/javascript" src=http://www.submarino.com.br/afiliados/get_banner.asp?tipo=botao&franq=261711></script>
			</center>*#
		</div>