#set($headerTitle = "Notícias")
#parse("home/header.vm")
<body>
	<div id="content">
		
		#parse("home/menu_topo.vm")
		
		<div id="main">
			<h5><a href="$basePath/">Home</a> > <a href="$basePath/noticias/">Notícias</a> > </h5><br>
			<p align="right"><b>#paging($page "${basePath}/noticias/" "")</b></p>
		
			
				#foreach($itemNoticia in $noticias) 
					$vh.dateMinuteFormat($itemNoticia.publishDate) 
					<h2>
						<a href="${basePath}/noticia/${itemNoticia.notId}/${vh.parseStringTitle($itemNoticia.title)}">$vh.removeHTML($itemNoticia.title)</a>
					</h2>
					<p>
					#if($velocityCount != $noticias.size())
						<div id="line"></div>
					#end
				#end
			
			<p align="right"><b>#paging($page "${basePath}/noticias/" "")</b></p>
		
			
		</div>
		
		<div id="ad">
			#displayBanner($action.loadLocationBanner(1))
		</div>
		
		

		<div id="line"></div>
		
		
		#parse("home/rodape.vm")
	</div>
</body>
</html>