#set($headerTitle = "Artigos")
#parse("home/header.vm")
#include("home/css/css_menu_tree.vm")

<body>
	<div id="content">
		
		#parse("home/menu_topo.vm")

		<div id="main">
			<h5><a href="$basePath/">Home</a> > <a href="$basePath/artigos/">Artigos</a> > </h5>
				<br>
			#foreach($forum in $list) 
				##$vh.dateMinuteFormat($itemNoticia.publishDate)
				<h2>
					<a href="${basePath}/catartigos/$forum.id/${vh.parseStringTitle($forum.nome)}">$action.replaceTut($forum.nome)</a>
				</h2>
					$forum.descricao
				<p>
				<div id="line"></div>
			#end
			
		</div>
		
		##showEnvieSeuArtigo("")
		
		
		<div id="ad">
			#displayBanner($action.loadLocationBanner(1))
		</div>
		
		<div id="shortnews">
		
			<a name="menunews" />
			<ul id="side_menu">

			<li><a href="#menunews">Últimos Artigos</a>
			<ul>
				#foreach($topic in $articles)
				<li>
					<a href="${basePath}/artigo/${topic.id}/${vh.parseStringTitle($topic.titleTopic)}">
						$topic.titleTopic
					</a>
				</li>
				#end
			</ul>	
		</div>
		

		<div id="line"></div>

		#parse("home/rodape.vm")
	</div>
</body>


</html>