#set($headerTitle = "Lista de Banners")
#parse("home/header.vm")
<body>
	<div id="content">
		
		#parse("home/menu_topo.vm")
		
		<div id="main">
			<h3><a href="#">Banners</a></h3>

			#foreach($itemBanner in $banners)
				<h2>
					<a href="${basePath}/banner/${itemBanner.bannerId}/${vh.parseStringTitle($itemBanner.name)}">$vh.removeHTML($itemBanner.name)</a>
				</h2>
				<p>
					$itemBanner.name <br>
					URL : <a href="$itemBanner.url">$itemBanner.url</a><br>
					Imagem: <a href="$itemBanner.imagem">$itemBanner.imagem</a><bR>
					Visualizações: <a href="$itemBanner.imagem">$itemBanner.views</a><bR>
					Local: $itemBanner.bannerLocation
					<br>
					<center>
					<a href="${basePath}/loadEditBanner.jbb?banner.bannerId=${itemBanner.bannerId}">Editar</a> 
					- <a href="javascript:excluir('${basePath}/deleteBanner.jbb?banner.bannerId=${itemBanner.bannerId}');">Excluir</a> 
					</center>
				</p>
				#if($velocityCount != $banners.size())
					<div id="line"></div>
				#end
			#end
			<Br><Br>
			<a href="${basePath}/openInsertBanner.jbb">Novo Banner</a> 
		
			
		</div>
		
		
		<div id="ad">
			<script type="text/javascript"><!--
			google_ad_client = "pub-9439984557405450";
			/* 200x200, criado 03/11/08 */
			google_ad_slot = "3473586953";
			google_ad_width = 200;
			google_ad_height = 200;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
		
		

		<div id="line"></div>
		
		
		#parse("home/rodape.vm")
	</div>
</body>
</html>