#set($headerTitle = "Anuncie")
#parse("home/header.vm")
<body>
	<div id="content">
		
		#parse("home/menu_topo.vm")
		
		<div id="main">
			<h5><a href="$basePath/">Home</a> > <a href="$basePath/sobre.jbb">Quem Somos</a> > </h5><br>
			<h2>Anuncie conosco</h2><br>


			<p>
			<img src="$basePath/home/images/arrow-up.gif"><br>
			O <a href="http://www.javafree.org" target="_blank">JavaFree</a> 
		  &eacute; uma comunidade virtual java fundada em 19 de 
		  mar&ccedil;o de 2003 por <a href="http://www.empregonaweb.com/user/curriculo.action?id=2">Dalton Camargo</a>. O objetivo principal é 
		 ajudar a desenvolver o Java e o Software Livre nos pa&iacute;ses 
		  de l&iacute;ngua portuguesa com artigos, tutoriais, entrevistas, ofertas de 
		  empregos e um grande f&oacute;rum. <br>
		  Além de expor seu produto para uma das mais ativas comunidades Java mundial, você estará ajudando o JavaFree.org a pagar
		  seus servidores, domínios e investimentos com camisetas e brindes para os eventos.
</p>
			<p>
					  O JavaFree.org é um dos portais sobre Java com o melhor conteúdo da internet na língua portuguesa, prova disso é a ótima indexação no Google e seu Page Rank. Além de usufruir do Google como uma ótima fonte de captação para novos usuários, o JavaFree é composto de uma rede de portais que envolvem <a href="http://www.empregonaweb.com/home.action">EmpregoNaWeb.co</a>m e <a href="http://www.infoblogs.com.br/">InfoBlogs.com.br</a>, além do <a href="http://www.javabb.org/">JavaBB</a>, projeto OpenSource adotado pelo UOL para ser seu produto oficial em termos de fórum de discussões de toda companhia.
Veja algumas reportagens sobre o acontecido:<br>
<a href="http://info.abril.com.br/professional/desenvolvimento/uol-troca-phpbb-pelo-javabb.shtml">http://info.abril.com.br/professional/desenvolvimento/uol-troca-phpbb-pelo-javabb.shtml</a><br>
<a href="http://info.abril.com.br/professional/desenvolvimento/o-pai-do-javabb-e-brasileiro.shtml">http://info.abril.com.br/professional/desenvolvimento/o-pai-do-javabb-e-brasileiro.shtml</a><br>
<a href="http://www.baguete.com.br/noticiasDetalhes.php?id=31743">http://www.baguete.com.br/noticiasDetalhes.php?id=31743</a><br>
O JavaFree.org recebe mensalmente uma média de 500mil visitantes únicos e aproximadamente 1 milhão de pageviews.<br><br>
<b>Para saber maiores informações sobre divulgação aqui no JavaFree, envie um email para info(arroba)javafree.org</b>


			</p>

			
		</div>
		
		#parse("home/adsenselateral.vm")
		
		

		<div id="line"></div>
		
		
		#parse("home/rodape.vm")
	</div>
</body>
</html>