#set($headerTitle = "Administração de Banners")
#parse("home/header.vm")
<body>
	<div id="content">
		
		#parse("home/menu_topo.vm")
		
		<div id="main">
		
			#if($msgErrors.size() > 0)
				<div class="warning">
					#foreach($msg in $msgErrors)
						<div> ERRO - $msg </div>			
					#end
				</div>
			#end
			
			#if($msgSuccess.size() > 0)
				<div class="success">
					#foreach($msg in $msgSuccess)
						<div> $msg </div>			
					#end
				</div>
			#end			
		
			
				<legend>Informações do Banner</legend>
			
				#if("$!banner.name" != "")
					<form action="${basePath}/saveBanner.jbb" id="f2" name="f2" method="post" class="form-large">
					<input type="hidden" name="banner.bannerId" value="$!banner.bannerId">
					<input type="hidden" name="banner.clicks" value="$!banner.clicks">
					<input type="hidden" name="banner.views" value="$!banner.views">
				#else
					<form action="${basePath}/insertBanner.jbb" id="f2" name="f2" method="post" class="form-large">
				#end
					
				
					<div>
						<label for="name">Nome Interno para o Banner</label>
						<input type="text" name="banner.name" id="banner.name" size="25" tabindex="1" id="autor" class="form-text" value="$!banner.name" />
					</div>
					<div>
						<label for="name">Data Inicial de Vigência</label>
						<input type="text" name="banner.initialDate" size="" tabindex="1" id="banner.initialDate" class="form-text" value="$vh.dateFormat($!banner.initialDate)" />
					</div>
					<div>
						<label for="name">Data Final de Vigência</label>
						<input type="text" name="banner.expirationDate" size="25" tabindex="1" id="banner.expirationDate" class="form-text" value="$vh.dateFormat($!banner.expirationDate)" />
					</div>
					<div>
						<label for="name">Url de Redirecionamento do Banner</label>
						<input type="text" name="banner.url" size="25" tabindex="1" id="banner.url" class="form-text" value="$!banner.url" />
					</div>
					<div>
						<label for="name">Url da Imagem que será exibida</label>
						<input type="text" name="banner.imagem" size="25" tabindex="1" id="banner.imagem" class="form-text" value="$!banner.imagem" />
					</div>
					<div>
						<label for="name">ToolTip que aparecerá na Imagem</label>
						<input type="text" name="banner.alt" size="25" tabindex="1" id="banner.alt" class="form-text" value="$!banner.alt" />
					</div>
					<div>
						<label for="name">Sessão Banner</label>
						<input type="text" name="banner.bannerLocation" size="25" tabindex="1" id="banner.bannerLocation" class="form-text" value="$!banner.bannerLocation" />
					</div>
					
			

					<div>
						<label for="name">Html para usar com arquivos Flash</label>
						<textarea name="banner.html" id="banner.html">$!banner.html</textarea>
					</div>
					

					<div class="fieldset-footer">
						<input type="submit" value="Continuar" class="button1" tabindex="4" /> 
						<input type="button" value="Cancel" onclick="window.location='${basePath}/listAllBanners.jbb'"class="button2" />
					</div>					
				</form>
				
			</fieldset>
			
		</div>
		
		
		#parse("home/adsenselateral.vm")
		

		#*
		<div id="shortnews">
			<div class="news">
				<h3>Últimos Artigos</h3>
			</div>
			<h3><a href="#">Nam tortor libero, dictum porta</a></h3>
			<p>Aliquam lacus massa, pellentesque sit amet, feugiat et, cursus volutpat, massa. Integer nibh. Maecenas mattis ipsum a felis.</p>
			<h3><a href="#">Nam tortor libero, dictum porta</a></h3>
			<p>Aliquam lacus massa, pellentesque sit amet, feugiat et, cursus volutpat, massa. Integer nibh. Maecenas mattis ipsum a felis.</p>
			<h3><a href="#">Nam tortor libero, dictum porta</a></h3>
			<p>Aliquam lacus massa, pellentesque sit amet, feugiat et, cursus volutpat, massa. Integer nibh. Maecenas mattis ipsum a felis.</p>			
			<h3><a href="#">Nam tortor libero, dictum porta</a></h3>
			<p>Aliquam lacus massa, pellentesque sit amet, feugiat et, cursus volutpat, massa. Integer nibh. Maecenas mattis ipsum a felis.</p>						
			<h3><a href="#">Nam tortor libero, dictum porta</a></h3>
			<p>Aliquam lacus massa, pellentesque sit amet, feugiat et, cursus volutpat, massa. Integer nibh. Maecenas mattis ipsum a felis.</p>
			<h3><a href="#">Nam tortor libero, dictum porta</a></h3>
			<p>Aliquam lacus massa, pellentesque sit amet, feugiat et, cursus volutpat, massa. Integer nibh. Maecenas mattis ipsum a felis.</p>						
		</div>
		*#
		
		<div id="line"></div>
		
		
			
		#parse("home/rodape.vm")
	</div>
</body>
</html>