#set($headerTitle = "Enviar Conteúdo")
#parse("home/header.vm")
<body>
	<div id="content">
		
		#parse("home/menu_topo.vm")
		
		<div id="main">
		
			#if($msgErrors.size() > 0)
				<div class="warning">
					#foreach($msg in $msgErrors)
						<div> ERRO - $msg </div>			
					#end
				</div>
			#end
			
			#if($msgSuccess.size() > 0)
				<div class="success">
					#foreach($msg in $msgSuccess)
						<div> $msg </div>			
					#end
				</div>
			#end			
		
			<fieldset style="width: 550px;">
				<legend>Sugerir notícia</legend>
			
				#if($!noticia.title.toString() != "")
					<form action="${basePath}/saveEditNoticia.jbb" id="f2" name="f2" method="post" class="form-large">
					<input type="hidden" name="noticia.notId" value="$!noticia.notId">
					<input type="hidden" name="noticia.active" value="$!noticia.active">
					<input type="hidden" name="noticia.user.id" value="$!noticia.user.id">
				#else
					<form action="${basePath}/addNoticia.jbb" id="f2" name="f2" method="post" class="form-large">
				#end
					
				
					<div>
						<label for="name">Autor</label>
						<input type="text" name="autor" size="25" tabindex="1" id="autor" class="form-text" value="$userLogged.user" readonly />
					</div>
					<div>
						<label for="name">Título da Notícia</label>
						<input type="text" name="noticia.title" size="" tabindex="1" id="noticia.title" class="form-text" value="$!noticia.title" />
					</div>
					<div>
						<label for="name">Link de referência (insira o http://)</label>
						<input type="text" name="noticia.link" size="25" tabindex="1" id="noticia.link" class="form-text" value="$!noticia.link" />
					</div>
					<div>
						<label for="name">Imagem para notícia</label>
						<input type="text" name="noticia.linkImg" size="25" tabindex="1" id="noticia.linkImg" class="form-text" value="$!noticia.linkImg" />
					</div>
					##somente o administrador pode botar notícias em destaque
					#if($userLogged.admin == 1)
						<div>
							<label for="name">Notícia em destaque:
							<input type="checkbox" name="noticia.home" #if($!noticia.home == 1) checked #end size="25" tabindex="1" id="noticia.home" class="form-text" value="1" />
							</label>
						</div>
					#end
					<div>
						<label for="name">Texto</label>
						<textarea name="noticia.body" id="noticia.body">$!noticia.body</textarea>
					</div>
					
					#if($!noticia.title.toString() != "")
					#else
					<fieldset>
					<legend>Código Captcha <span>(Desculpe-nos, mas precisamos evitar bots)</span></legend>
					<div class="captcha">
					<label for="captcha" accesskey="7">Digite o codigo que voce esta vendo na imagem.</label>
					<input type="text" name="captchafield" id="captchafield" value="" />
					</div>
					<img src="Captcha.captcha" title="Se você não está vendo a imagem ao lado, envie um email para suporte@infoblogs.com.br"  alt="Se você não está vendo a imagem ao lado, envie um email para suporte@infoblogs.com.br" class="captcha" /><br style="clear: both;" />
					</fieldset>
					#end
					<div class="fieldset-footer">
						<input type="submit" value="Continuar" class="button1" tabindex="4" /> 
						<input type="button" value="Cancel" onclick="window.location='${basePath}/javafree'"class="button2" />
					</div>					
				</form>
				
			</fieldset>
			
		</div>
		
		
		#parse("home/adsenselateral.vm")
		
		<div id="shortnews">
			<div class="news">
				<h3>Últimos Artigos</h3>
			</div>
			<h3><a href="#">Nam tortor libero, dictum porta</a></h3>
			<p>Aliquam lacus massa, pellentesque sit amet, feugiat et, cursus volutpat, massa. Integer nibh. Maecenas mattis ipsum a felis.</p>
			<h3><a href="#">Nam tortor libero, dictum porta</a></h3>
			<p>Aliquam lacus massa, pellentesque sit amet, feugiat et, cursus volutpat, massa. Integer nibh. Maecenas mattis ipsum a felis.</p>
			<h3><a href="#">Nam tortor libero, dictum porta</a></h3>
			<p>Aliquam lacus massa, pellentesque sit amet, feugiat et, cursus volutpat, massa. Integer nibh. Maecenas mattis ipsum a felis.</p>			
			<h3><a href="#">Nam tortor libero, dictum porta</a></h3>
			<p>Aliquam lacus massa, pellentesque sit amet, feugiat et, cursus volutpat, massa. Integer nibh. Maecenas mattis ipsum a felis.</p>						
			<h3><a href="#">Nam tortor libero, dictum porta</a></h3>
			<p>Aliquam lacus massa, pellentesque sit amet, feugiat et, cursus volutpat, massa. Integer nibh. Maecenas mattis ipsum a felis.</p>
			<h3><a href="#">Nam tortor libero, dictum porta</a></h3>
			<p>Aliquam lacus massa, pellentesque sit amet, feugiat et, cursus volutpat, massa. Integer nibh. Maecenas mattis ipsum a felis.</p>						
		</div>

		<div id="line"></div>
		
		
			
		<div id="footer">
			<ul id="fr" class="links">
				<li><a href="rss-articles/" title="RSS Articles">RSS Articles</a></li>
				<li><a href="rss-pages/" title="RSS Pages">RSS Pages</a></li>
				<li><a href="rss-comments/" title="RSS Comments">RSS Comments</a></li>
			</ul>
			<div id="fl">
				<p class="links"><a href="#">Home</a><a href="#">About</a><a href="#">Archive</a><a href="#">Sitemap</a></p>
				<p>O JavaFree.org é uma comunidade java formada pela coolaboração dos desenvolvedores da tecnologia java. A publicação de artigos além de ajudar a comunidade java, ajuda a dar maior visibilidade para o autor. Contribua conosco.</p>
				<p>&copy; Copyright <strong>JavaFree.org</strong><br />
				Design: Luka Cvrk &middot; Released under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Licence</a></p>
			</div>
		</div>	
	</div>
</body>
</html>