#set($headerTitle = ${topic.titleTopic})
#set($metaDes = ${topic.titleTopic})

#parse("home/header.vm")
#include("home/css/css_menu_tree.vm")

<style>
#main img { float: none; border: 0px; padding: none; margin: none none 5none none; }
</style>


<body>
	<div id="content">
		
		#parse("home/menu_topo.vm")
		<div id="HOTWordsTxt" name="HOTWordsTxt">
		<div id="main" style="text-align:justify; width:940px;">
		#foreach($post in $posts)
			#set($linkComments = "topic-${topic.id}-${vh.parseStringTitle($topic.titleTopic)}")
			#set($cntSize = $posts.size() - 1)
			
			#if($velocityCount == 1)
				#if (${post.user.user_avatar} != "")
				
					#if("$!post.user.avatarExibition" == "")
						#set($avatarURL = "$baseFiles/files/$post.user.user_avatar")
					#else
						#set($avatarURL = "$baseFiles/$post.user.avatarExibition")
					#end
					
					#set($avatar = "$avatarURL")
				#else
					#set($avatar = "$baseFiles/forum/themes/jb2/images/nopic.jpg")
				#end
				#set($userId = ${post.user.id})
				#set($userName = ${post.user.user})
				
				
			
			
				<h5><a href="$basePath/">Home</a> > <a href="$basePath/artigos/">Artigos</a> > <a href="${basePath}/catartigos/$topic.forum.id/${vh.parseStringTitle($topic.forum.nome)}">$action.replaceTut($topic.forum.nome)</a> ></h5>
				<br>
				<h2>
					<a href="${basePath}/artigo/${topic.id}/$vh.parseStringTitle($topic.titleTopic)">$topic.titleTopic</a>
				</h2>
				<p>
				Publicado em $vh.dateFormat($topic.dataTopico) - $vh.formatDigitValue($!topic.visualizacoes.toString()) visualizações</p>
				<p>
				
				#showNewsComment($cntSize $linkComments)

				
			
				#*
				<div style="float:left;margin-top:0px;margin-right:5px;">				
				<script type="text/javascript"><!--
				google_ad_client = "pub-9439984557405450";
				/* 250x250, criado 19/02/09 */
				google_ad_slot = "7841901350";
				google_ad_width = 250;
				google_ad_height = 250;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
				</div>
				*#
				
				<div style="float:right;margin-top:0px;margin-right:0px;border: 1px solid #ccc;">
					&nbsp;Publicado por <a href="${basePath}/viewprofile.jbb?u=$userId">$userName</a>&nbsp;<Br><Br></h3>
					<center>&nbsp;&nbsp;<a href="${basePath}/viewprofile.jbb?u=$userId"><img src="$avatar" border="0" /></a>&nbsp;&nbsp;</center><br>
				</div>
			
				
				
				$action.formatOnlyBBCodeHTML($post.postBody)
				
				<br><br>
					#if($post.postFiles.size() > 0)
						#foreach($pFile in $post.postFiles)
							 <br>
							<table width="39%" border="0" cellpadding="2" cellspacing="2" bordercolor="#FFFFFF">
							  <tr>
							    <td width="32%"><b>#message("download"):</b></td>
							    
								<td width="68%">&nbsp;<a href="${baseFiles}/${vh.getDownloadPath($pFile.filePath)}${pFile.fileName}" target="_blank">$vh.formatFileName($pFile.fileName)</a></td>
								##<td width="68%">&nbsp;<a href="${baseFiles}/file/d.jbb?fileId=$pFile.fileId" target="_blank">$vh.formatFileName($pFile.fileName)</a></td>
							  </tr>
							  <tr>
							    <td><b>#message("size"):</b></td>
							    <td>&nbsp;$pFile.fileSize</td>
							  </tr>
							  	<tr>
							    <td><b></b></td>
							    <td></td>
							  </tr>
							 
							</table>				
						#end
						
					#end
					

				<div>
					<script type="text/javascript"><!--
					google_ad_client = "pub-9439984557405450";
					/* 728x90, criado 01/06/09 */
					google_ad_slot = "5564952512";
					google_ad_width = 728;
					google_ad_height = 90;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
					<br><br><br><br>
				</div>
					
				<div style="float:left;margin-top:0px;margin-right:0px;border: 0px solid #ccc;">
					#showNewsComment($cntSize $linkComments)
				</div>


				
			
				#if($userLogged.admin == 1)
					<center> <a href="${basePath}/show_edit_topic.jbb?post.idPost=${post.id}&topic.idTopic=${topic.id}&url=topic">Editar</a> 
					- <a href="javascript:excluir('${basePath}/excluirNoticia.jbb?noticia.notId=${noticia.notId}');">Excluir</a> 
					- <a href="${basePath}/reproveNoticia.jbb?noticia.notId=$noticia.notId">Reprovar</a></center>
				#end
				</p>
			#end
		#end
		</div>
				
			<div id="rl">
				<ul>
					<h3><br>Tópicos Relacionados<Br></h3>
					
					#foreach($related in $topics)
						<li style="width:633px;"><a href="${basePath}/topic-${related.id}-${vh.parseStringTitle($related.titleTopic)}" >$related.titleTopic</a> &nbsp;</li>
					#end

				</ul>
			</div>
		
		
				
		</div>
		
	#*
		<div id="ad">
		<script type="text/javascript"><!--
		google_ad_client = "pub-9439984557405450";
		/* 250x250, criado 19/02/09 */
		google_ad_slot = "7841901350";
		google_ad_width = 250;
		google_ad_height = 250;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
		</div>
		
		
	<div id="related" style="height: 170px;">
		<ul>
			<h3>
			<img src="$basePath/forum/themes/jb2/images/icon_mini_profile.gif" style="border: 0px; padding: 0px; margin: 0 10px 0px 0;">
			Publicado por <a href="${basePath}/viewprofile.jbb?u=$userId">$userName</a><Br><Br></h3>
			<center><img src="$avatar" border="0" /></center>
			
		</ul>
	</div>	
		
	
		
		##showEnvieSeuArtigo("")
		

		<div id="shortnews">
		
			<a name="menunews" />
			<ul id="side_menu">
			<li><a href="#menunews">Últimos artigos</a>
			<ul>
				#foreach($topic in $lastArticles)
				<li>
					<a href="${basePath}/artigo/${topic.id}/${vh.parseStringTitle($topic.titleTopic)}">
						$topic.titleTopic
					</a>
				</li>
				#end
			</ul>
			<li><a href="#menunews">Vagas em TI</a>
				<ul>
				<li><a href="http://www.empregonaweb.com/empresa/doFullSearch.action?searchType=&key=&vagaEstado.estadoId=&vagaCidade=&areaId=-1" target="_blank">
					<img src="$basePath/forum/themes/jb2/images/icon_mini_search.gif" border = "0">&nbsp;
					<b>Procurar vagas</b>
					</a>
				</li>			
				#foreach($feed in $feedEmpregos)
					<li><a href="$feed.feedURL" target="_blank">$vh.substring($feed.feedTitle, 0,30)</a></li>
				#end	
				</ul>
			
			<li><a href="#menunews">Blogs em TI</a>
			<ul>
				#foreach($feed in $feedInfoBlogs)
					<li><a href="$feed.feedURL" target="_blank">$vh.substring($feed.feedTitle, 0,30)</a></li>
				#end	
				</ul>

				</ul>	
		</div>		
		*#
		
		
		
		#** Analisar se isso está sendo útil
			<div id="related">
				<ul>
					<h3><br>Relacionados no Fórum<Br></h3>
					#foreach($related in $topics)
						<li><a href="${basePath}/topic-${related.id}-${vh.parseStringTitle($related.titleTopic)}" $relatedColor >$related.titleTopic</a> &nbsp;</li>
					#end
				</ul>
			</div>
		**#

		<div id="line"></div>
		
		#parse("home/js/js_menu_active.vm")	
		#parse("home/rodape.vm")
		


	</div>
		#sintaxHighlight("")

		
		<script src='http://ads6055.hotwords.com.br/show.jsp?id=6192'></script>

</body>
</html>