#set($headerTitle = $noticia.title)
#set($metaDes = $noticia.title)
#parse("home/header.vm")

<style>
	#main img { float: none; border: 0px; padding: none; margin: none none 5none none; }
</style>

#include("home/css/css_menu_tree.vm")

<body>
	<div id="content">
		
		#parse("home/menu_topo.vm")
		
		<div id="main">
		<h5><a href="$basePath/">Home</a> > <a href="$basePath/noticias/">Notícias</a> > </h5><br>
		
			#if($msgErrors.size() > 0)
				<div class="warning">
					#foreach($msg in $msgErrors)
						<div> ERRO - $msg </div>			
					#end
				</div>
			#end
		
			<div>

				<h2>
					<a href="${basePath}/noticia/${noticia.notId}/${vh.parseStringTitle($noticia.title)}">$noticia.title</a>
				</h2>
				<p>
				Publicado há $vh.formatPresentDate($noticia.publishDate) por <a href="$basePath/viewprofile.jbb?u=$noticia.user.id">$noticia.user.user</a> #if($action.hasModeratorPermission()) - $!noticia.views visitas #end </p>
				<p>

				$noticia.body.replaceAll("\n","<br>")

				<br><br>
				#if("$!noticia.link" != "")
					Link: <a href="$noticia.link" rel="me noflow" target="_blank">$noticia.link</a>
				#end
				<br>
<br>
				

				#if($action.hasModeratorPermission())
					#if($userLogged.admin == 1 || $userLogged.id == $noticia.user.id)
						<center> <a href="${basePath}/loadEditNoticia.jbb?noticia.notId=${noticia.notId}">Editar</a> 
						- <a href="javascript:excluir('${basePath}/excluirNoticia.jbb?noticia.notId=${noticia.notId}');">Excluir</a> 
						- <a href="${basePath}/reproveNoticia.jbb?noticia.notId=$noticia.notId">Reprovar</a></center>
					#end
				#end
				</p>
				
			</div>
			<div id="line"></div>
       
	   <div align="center">
		#if("$!noticia.user.id" == "27445")
			##Conteudo do Celso
			<script type="text/javascript"><!--
			google_ad_client = "pub-5971803558438962";
			/* 468x60, criado 01/06/09 */
			google_ad_slot = "4888078850";
			google_ad_width = 468;
			google_ad_height = 60;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		#elseif("$!noticia.user.id" == "22728")
			<script type="text/javascript"><!--
			google_ad_client = "pub-2089558045327352";
			/* 468x60, criado 23/06/09 */
			google_ad_slot = "8078641248";
			google_ad_width = 468;
			google_ad_height = 60;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		#elseif("$!noticia.user.id" == "28088")
			<script type="text/javascript"><!--
			google_ad_client = "pub-9180995295482442";
			/* 468x60, javafree */
			google_ad_slot = "5925548203";
			google_ad_width = 468;
			google_ad_height = 60;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		#else
			#displayBanner($action.loadLocationBanner(3))
		#end
       	</div>


			<a name="comments" />
			<h3><br>Comentários ($comments.size())<Br></h3>
			#set($lastCommId = "")
			#foreach($itemComm in $comments)
				<div class="comment-header">
					<a name="$itemComm.id"></a>
					<p class="comment-top"><a href="#">Back to top</a></p>
					<div>
						<p class="comment-author">
						<a href="#$itemComm.id"><img src="$basePath/forum/themes/jb2/images/icon_minipost.gif" border="0"></a>
							enviado há $vh.formatPresentDate($itemComm.datePublished)
							por
							<strong>
								<a href="$basePath/viewprofile.jbb?u=$itemComm.user.id">$itemComm.user.user</a>
							</strong>
						</p>
					</div>
						
					
				</div>
				<div>
					$action.formatTextToBBCode($itemComm.body)
					#if($userLogged.admin == 1)
						<br>
						<a href="javascript:excluir('${basePath}/excluirComment.jbb?comment.id=${itemComm.id}&noticia.notId=${noticia.notId}');">Excluir</a>
					#end
				</div>
				#set($lastCommId = $itemComm.id)
			#end
			<br>
			<div id="line"></div>
			<br>

			#if($userLogged.user.toString() != "")
				<fieldset style="width: 550px;">
					<legend>Enviar Comentário</legend>
				
						<form action="${basePath}/addComentario.jbb" id="f2" name="f2" method="post" class="form-large">
						<input type="hidden" name="noticia.notId" value="${noticia.notId}">
						<div>
							<label for="name">Autor</label>
							<input type="text" name="autor" size="25" tabindex="1" id="autor" class="form-text" value="$userLogged.user" readonly />
						</div>
						<div>
							<label for="name">Texto (Insira somente tags <a href="http://pt.wikipedia.org/wiki/BBCode" target="_blank">BBCODE</a>)</label>
							
							#bbcodeButtons("f2" "comment.body")
							
							<textarea name="comment.body" id="comment.body"></textarea>
						</div>
						
						<div class="fieldset-footer">
							<input type="submit" value="Continuar" class="button1" tabindex="4" /> 
							<input type="button" value="Cancel" onclick="window.location='${basePath}/'"class="button2" />
						</div>					
					</form>
					
				</fieldset>
			#else
				<fieldset style="width: 550px;">
					<legend>Faça seu login</legend>
				
						<form action="${basePath}/checkForLogin.jbb" id="f2" name="f2" method="post" class="form-large">
						<input type="hidden" name="noticia.notId" value="${noticia.notId}">
						<input type="hidden" name="url" value="${basePath}/noticia/$noticia.notId/#${lastCommId}">
						
						<div>
							<label for="name">Usuário</label>
							<input type="text" name="user.user" size="25" tabindex="1" id="user.user" class="form-text"/>
						</div>
						<div>
							<label for="name">Password</label>
							<input type="password" name="user.passwordHash" size="25" tabindex="2" id="user.passwordHash" class="form-text"/>
						</div>						
					

						
						<div class="fieldset-footer">
							<input type="submit" value="Login" class="button1" tabindex="4" />
							<input type="button" value="Registre-se" onclick="window.location='${basePath}/new_member.jbb'"class="button2" />
						</div>					
					</form>
					
				</fieldset>			
			#end
			
			
			

			<br>
			#*
			<div id="rl">
				<ul>
					<h3><br>Empregos<Br></h3>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>					
				</ul>
			</div>
			
			<div id="rr">
				<ul>
					<h3><br>Posts em Blogs<Br></h3>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></li>					
				</ul>
			</div>			
			*#
		</div>
		
		<div id="ad">
			<p><a href="http://twitter.com/JavaFree" target="_blank"><img src="$baseImages/home/images/twitterjf.gif" style="border:0" alt="Siga nos" /></a></p>
		</div>


		
		<div id="ad">
			#displayBanner($action.loadLocationBanner(1))
		</div>
		

		<div id="shortnews">
		
			<a name="menunews" />
			<ul id="side_menu">
			<li><a href="#menunews">Últimas Notícias</a>
				<ul>
				#foreach($not in $noticias)
					#if("$!noticia.notId" != "$!{not.notId}")
						<li><a href="${basePath}/noticia/${not.notId}/${vh.parseStringTitle($not.title)}">$not.title</a></li>
					#end
				#end
				</ul>

		</ul>
			
		</div>

		<div id="line"></div>
	
	
			
		#parse("home/rodape.vm")
	</div>
	
</body>

	#sintaxHighlight("")

</html>