#set($headerTitle = "Quem Somos")
#parse("home/header.vm")
<body>
	<div id="content">
		
		#parse("home/menu_topo.vm")
		
		<div id="main">
			<h5><a href="$basePath/">Home</a> > <a href="$basePath/sobre.jbb">Quem Somos</a> > </h5><br>
			<h2>Por dentro do JavaFree</h2><br>


			<p>
			Considerado um dos maiores portais sobre Java do mundo, o <a href="http://www.javafree.org" target="_blank">JavaFree</a> 
		  &eacute; uma comunidade virtual java fundada em 19 de 
		  mar&ccedil;o de 2003 por <a href="http://www.empregonaweb.com/user/curriculo.action?id=2">Dalton Camargo</a>. O objetivo principal é 
		 ajudar a desenvolver o Java e o Software Livre nos pa&iacute;ses 
		  de l&iacute;ngua portuguesa com artigos, tutoriais, entrevistas, ofertas de 
		  empregos e um grande f&oacute;rum. 
</p>
			<p>
					  Muitos trabalhos já foram realizados em prol do nosso objetivo. Já existiram, por exemplo,  
			pequenos e movimentados grupos de usuários locais, que representavam o portal JavaFree nas 
			suas cidades trazendo reinvidicações de usuários de cada parte do país para um nível mundial. 
			Cada um destes jugs possuia sua estrutura e coordena&ccedil;&atilde;o, e recebiam do JavaFree 
			apoio ao seus eventos e um espa&ccedil;o na internet. Hoje em dia esses grupos locais não existem 
			mais, mas a comunidade ainda está lá. 

			</p>

<h2>JavaFree na mídia</h2>

<P>JavaBB na InfoExame: <a href="http://info.abril.com.br/professional/desenvolvimento/uol-troca-phpbb-pelo-javabb.shtml">Ler</a> <br>
Dalton Camargo na InfoExame: <a href="http://info.abril.com.br/professional/desenvolvimento/o-pai-do-javabb-e-brasileiro.shtml">Ler</a><br>
JavaBB no UOL Jogos: <a href="http://www.baguete.com.br/noticiasDetalhes.php?id=31743">Ler</a>

</p>
			
<h2>Política do Portal</h2>

<P>Manter um portal do tamanho do JavaFree, com usuários satisfeitos e um bom nível nas discussões é algo extremamente complicado. </p>

<P>Durante toda a nossa história já passamos por diversas formas de coordenação da comunidade. Desde 
a mais fechada e privada administração até os dias de hoje, onde todos os assuntos são discutidos de 
maneira pública no nosso fórum e não existem mais equipes de trabalho determinadas e com objetivos fixos. 
Já passamos por várias políticas de manutenção, desde a exclusão de posts com flames até a liberação completa das opiniões dos usuários. 
Passamos por fases em que os administradores do JavaFree falavam em nome de toda a comunidade e por outras onde a linguagem era tratada como religião.
</p>

<p>Hoje em dia, a política de manutenção do portal é bem simples e pequena. O JavaFree como portal é apenas uma ferramenta, não deve possuir opinião
ou influenciar a comunidade. Mas deve promover a informação sobre Java e Software livre e privilegiar discussões com foco na linguagem, 
dando liberdade de expressão aos usuários, incluindo aqueles que não gostam da tecnologia. As opiniões dos administradores não significam mais 
a opinião de toda uma comunidade. </p>

<p>O JavaFree acredita que a comunidade é madura o suficiente para entender e aceitar análises críticas da tecnologia, perceber flames, 
e argumentar soluções, privilegiando assim, a liberdade de expressão dos participantes, sejam eles defensores do Java ou não. </p>  

<P><h2>JavaFree Open-Source</h2></p>

<P>No quesito desenvolvimento de software livre, o JavaFree apóia fortemente vários projetos, mas não é dono de nenhum deles. A contribuição do JavaFree é apenas para aumentar a visão sobre esses projetos e trabalhar para que eles sejam utilizados pela comunidade. Os projetos apoiados são os seguintes: </P>

			<UL class="bullet-green"  >
				<LI><a href="https://javafreecms.dev.java.net" target="_blank">JavaFreeCMS</a> um pequeno CMS baseado em Wiki desenvolvido especialmente para o JavaFree</li>
				<LI><A HREF="http://www.javabb.org/" TARGET="_blank">JavaBB</A>
				um f&oacute;rum semelhante ao PHPBB</li>

				<LI><a href="https://jforms.dev.java.net/" target="_blank">JForms, um conjunto componentes para Swing</a></li>
				<LI><a href="https://jsqleditor.dev.java.net" target="_blank">JSQLEditor, um editor SQL para o Eclipse</a></li>
				<LI><a href="https://www.babaxp.org/" target="_blank">BabaXP, um gerenciador de equipes e projetos de Extreme Programming</a> </li>
				<LI><a href="https://rssnotifier.dev.java.net/" target="_blank">RSS Notifier, um leitor de notícias via RSS em tempo real</a> </li>
				<LI><a href="https://snaildb.dev.java.net/" target="_blank">SnailDB, um driver JDBC e um banco de dados com Prevayler</a> </li>

				<LI><a href="https://priki.org/" target="_blank">Priki, um WikiWikiWeb Prevalente</a> </li>
			</UL>

</P>
<P><h2>JavaFree Agradece</h2></P>
<P>Durante o passar dos anos o JavaFree recebeu contribuições de inúmeras pessoas. Algumas trabalharam muito, outras pouco mas todas elas foram importantes para a evolução da comunidade. Algumas delas estão listadas abaixo, se você não está na lista ou não gostaria de estar nela, mande um e-mail para: info@javafree.org. O JavaFree agradece estas pessoas que assumiram e/ou ainda assumem responsabilidades no portal: </p>
<p>
<UL class="bullet-green">
			<LI>Adriano Dadario</li>

			<LI>Alex G Silva</li>
			<LI>Bruno Ambrósio</li>
			<LI>Bruno Borges</li>
			<LI>Caco Vaccaro</li>
			<LI>Carlos Augusto</li>
			<LI>Carlos Barreto</li>

			<LI>Carlos F. Heuberger</li>
			<LI>Christiano Pinheiro</li>
			<LI>Claudio Marcelo Silva</li>
			<LI>Cleuber Batista Silva</li>
			<LI>Clóves Carneiro Jr.</li>
			<LI>Dalton M. Camargo</li>

			<LI>Daniel F. Martins</li>
			<LI>Edinei Manica</li>
			<LI>Eduardo Rodrigues </li>
			<LI>Evandro Barreto</li>
			<LI>F&aacute;bio Patricio</li>
			<LI>Felipe Pitella </li>

			<LI>Flavio R. Bianchi</li>
			<LI>Giovane R. Kuhn</li>
			<LI>Jean Rodrigues</li>
			<LI>Humberto Júnior</li>
			<LI>Henrique Pimentel (Zap)</li>
			<LI>Jefferson Costa Santos</li>

			<LI>Júlio Cesar Soares de Jesus</li>
			<LI>Klaus Wuestefeld</li>	
			<LI>Kuesley Fernandes</li>
			<LI>Lucas Teixeira </li>
			<LI>Luiz Antonio</li>
			<LI>Luiz Carlos Metzger</li>

			<LI>Marcos Silva Pereira</li>
			<LI>Marcelo Eduardo Moraes de Oliveira</LI>
			<LI>Maiko Rocha</li>
			<LI>Michel de Montalvão Guedes</li>
			<LI>Paulo Francisco (PDQ)</li>
			<LI>Paulo Henrique Borges de Melo </li>

			<LI>Rafael Afonso</li>
			<LI>Ricardo Ogliari</LI>
			<LI>Rodrigo de Oliveira</li>	
			<LI>Roni Warken</li>
			<LI>Ronald Tetsuo Miura</li>
			<LI>Tadeu R. A. Santos</li>

			<LI>Tiago Allen</li>
			<LI>Vitor Fernando Pamplona</li>
			<LI>Volnei Munhoz</li>

</UL></p>
<br><br>
Obrigado a todos vocês!<br><br>

		
			
		
			
		</div>
		
		#parse("home/adsenselateral.vm")
		
		

		<div id="line"></div>
		
		
		#parse("home/rodape.vm")
	</div>
</body>
</html>