<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE rss [<!ENTITY % HTMLlat1 PUBLIC "-//W3C//ENTITIES Latin 1 for XHTML//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml-lat1.ent">]>

${res.setContentType("text/xml")}

#parse("forum/include/imports.vm")

<rss version="2.0" xml:base="http://www.javafree.org/rss/rssNoticias.jbb">
   <channel>
	<title>${jbbConfig.forumConfig.forumName}</title>
	<link>${jbbConfig.forumConfig.domain}</link>
	<description>${jbbConfig.forumConfig.forumName}</description>
	<language>${jbbConfig.forumConfig.lang}</language>
	<copyright>Copyright © ${jbbConfig.forumConfig.forumName}</copyright>
	<category>#message("topics")</category>
	<generator>JavaBB</generator>
	<docs>http://blogs.law.harvard.edu/tech/rss</docs>
	<image>
		<url>http://www.javafree.org/interface/images/iconeJavaFree.png</url>
		<title>${jbbConfig.forumConfig.forumName} -  #message("topics")</title>
		<link>${jbbConfig.forumConfig.domain}</link>
	</image>

#foreach($noticia in $noticias)
     <item>
	 	<title>${noticia.title}</title>
		 <link>http://www.javafree.org/noticia/${noticia.notId}/${vh.parseStringTitle($noticia.title)}</link>
		 <description>
			$vh.escapeHTML($vh.substring($noticia.body,0,130))
		 </description>
		 <pubDate>$vh.dateRFCFormat($!{noticia.publishDate})</pubDate>
     </item>
#end

   </channel>

</rss>